
p{
    font-weight: bold;
    color:white;
    font-size:19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#img1
{
    float:left;
    
}
.col32
{
    background-image: url('../images/word2.jpeg');
    height: 400px;
}
#wordDiv
{
    position: relative;
    left:20%;
    top:30%;
}
.headingCol
{
    padding-top:20px;
    padding-left:20px;
}
#sp1{
    color:white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    float: left;
    background-color: blue;
    border:1px solid crimson;
    padding-left: 10px;
    padding-right:10px;

}
#sp2
{
    color:white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    float: left;
    background-color: blue;
    border:1px solid crimson;
    padding-left: 10px;
    padding-right:10px;
}
footer{
    position: relative;
    bottom:-120px;
    background-color:blue;
    font-size:19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    height:100px;
    text-align: center;
    padding-top:25px;
    padding-bottom:25px;
}
/* #sp1:hover
{
    transition: width 2s transform 2s;
    transform:rotate(5deg);
   
} */
#sp1
{
    animation: rotation1 .5s infinite;
}
#sp2
{
    animation: rotation2 .7s infinite;
}
 @keyframes rotation1 {
    from {
             transform: rotate(0deg);
    }
    to {
            transform: rotate(15deg);
    }
 }
 
 @keyframes rotation2 {
    from {
             transform: rotate(0deg);
    }
    to {
            transform: rotate(-15deg);
    }
 }

@media only screen and(max-width:375px)
{
    .headingCol
    {
        width:30%;
        position: relative;
        top:5px;
        padding-left:10px;
        
    }
    #hd1
    {
        width: 20px;
    }
    #sp1
    {
        font-size: 18px;
    }
    #sp2
    {
        font-size: 18px;
    }
    #row1
    {
        width:100%;
    }
}